* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}

.fantasy-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  padding: 25px;
  height: 80px;
}

.fantasy-logo-container {
  max-width: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-header {
  color: yellow;
  font-size: 20px;
  margin-left: 50px;
}

.nav-sports {
  color: white;
  text-decoration: none;
  padding: 50px;
  font-family: Georgia;
  font-size: 20px;
}

.nav-button {
  background-color: white;
  font-size: 25px;
  padding: 10px;
  border-radius: 50px;
  margin: 30px 10px;
}

.nav-button:hover {
  background-color: yellow;
  cursor: pointer;
}

.fantasy-nav {
  display: flex;
}

.hamburger-menu {
  display: none; /* Hide initially for larger screens */
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu::before {
  top: -5px;
}

.hamburger-menu::after {
  bottom: -5px;
}

.hamburger-menu.active::before {
  transform: translateY(10px) rotate(-45deg);
}

.hamburger-menu.active::after {
  transform: translateY(-10px) rotate(45deg);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-image: linear-gradient(black, yellow);
  border-radius: 30px;
  padding: 50px;
}

.contact-left-title h2 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 5px;
  color: white;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.contact-inputs {
  width: 400px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  font-weight: 500px;
  color: black;
  border-radius: 50px;
}

.error-text {
  color: white;
  display: none;
}

.visible {
  display: block;
}

.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-inputs:focus {
  border: 3px solid black;
}

.contact-inputs::placeholder {
  color: black;
}

.contact-left button {
  padding: 20px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50px;
  background-color: black;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

#right-text-header {
  padding: 30px 0px;
  font-size: 30px;
}

.fantasy-footer {
  background-color: #212121;
  color: white;
  padding: 20px;
  text-align: center;
}

@media (max-width: 500px) {
  #nav-header {
    margin-left: 10px;
  }

  .fantasy-logo {
    display: none;
  }
  .nav-button {
    display: none;
  }

  .contact-inputs {
    width: 80%;
  }
  .contact-right {
    display: none;
  }

  .contact-left {
    margin: 0px 20px;
    width: 60%;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
  }

  .fantasy-nav {
    display: none;
  }
}
